<mat-card>
  <mat-card-header>
    <h1>Registration</h1>
  </mat-card-header>
  <mat-card-content>
    <form class="registration-form" [formGroup]="registerForm" (ngSubmit)="proceedregistration()">
      <mat-form-field class="registration-full-width">
        <mat-label>Fist Name</mat-label>
        <input matInput formControlName="first_name">
      </mat-form-field>
      <mat-form-field class="registration-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="last_name">
      </mat-form-field>
      <mat-form-field class="registration-full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
      <mat-form-field class="registration-full-width">
        <mat-label>Email Address</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
      <mat-form-field class="registration-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>
      <mat-form-field class="registration-full-width">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone">
      </mat-form-field>
      <mat-form-field class="registration-half-width">
        <mat-label>User Type</mat-label >
        <select matNativeControl required formControlName="user_type">
          <option value="client">Cliente</option>
          <option value="boat-owner">Dueño barco</option>
        </select>
      </mat-form-field>
      <div class="button-row">
        <a routerLink="/login" mat-flat-button>Back to Login</a>
        <button mat-flat-button >Submit</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>


